/* ========== DARK THEME (DEFAULT) ========== */
html[data-theme='dark'] {
  --background-color: #2e2e2e;
  --background-color-soft: #3a3a3a;
  --background-item: #3c3c3c;

  --text-color: #f0f0f0;
  --text-color-soft: #d0d0d0;

  --toolbar-background: #1b263b;
  --toolbar-color: #f0f0f0;

  --searchbar-bg: #3a3a3a;
  --searchbar-input-bg: #505050;

  --button-bg: #1976d2;
  --button-text: #ffffff;
  --button-disabled-bg: #555;
  --button-disabled-text: #ccc;

  --badge-available: #4caf50;
  --badge-unavailable: #f44336;

  --card-radius: 16px;
  --card-shadow: 0 2px 6px rgba(0,0,0,0.4);
}


/* ========== LIGHT THEME ========== */
html[data-theme='light'] {
  --background-color: #f3f4f6;
  --background-color-soft: #ffffff;
  --background-item: #ffffff;

  --text-color: #1b1b1b;
  --text-color-soft: #333333;

  --toolbar-background: #1976d2;
  --toolbar-color: #ffffff;

  --searchbar-bg: #e0e0e0;
  --searchbar-input-bg: #ffffff;

  --button-bg: #1976d2;
  --button-text: #ffffff;
  --button-disabled-bg: #ccc;
  --button-disabled-text: #666;

  --badge-available: #4caf50;
  --badge-unavailable: #f44336;

  --card-radius: 16px;
  --card-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
